<fieldset class="metabox-prefs view-mode">
<legend>{{ l10n.view_mode }}</legend>
		<label for="list-view-mode">
			<input id="list-view-mode" type="radio" name="mode" value="list" {{{ list_checked }}} />
			{{ l10n.list_view }}
		</label>
		<label for="excerpt-view-mode">
			<input id="excerpt-view-mode" type="radio" name="mode" value="excerpt" {{{ excerpt_checked }}} />
			{{ l10n.excerpt_view }}
		</label>
</fieldset>
