{{!
Documentation for all actions can be found here:
lib/php/Admin/View.php

Happy Template-ing!
}}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="{{ admin_html_class }}"{{# doAction }}admin_xml_ns{{/ doAction }} {{{ language_attributes }}}>
<head>
<meta http-equiv="Content-Type" content="{{ html_type }}; charset={{ charset }}" />
<script type="text/javascript">
addLoadEvent = function(func){
if(typeof jQuery!=="undefined"){jQuery(document).ready(func);}else if(typeof wpOnload!=='function'){wpOnload=func;}else {var oldonload=wpOnload;wpOnload=function(){oldonload();func();};}};
var ajaxurl = '{{ ajaxurl }}',
	pagenow = '{{ screen.id }}',
	typenow = '{{ screen.post_type }}',
	adminpage = '{{ admin_page }}',
	thousandsSeparator = '{{ thousands_sep }}',
	decimalPoint = '{{ decimal_point }}',
	isRtl = {{ is_rtl }};
</script>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
{{# doAction }}admin_enqueue_scripts{{/ doAction }}
{{# doAction }}admin_print_styles-{{ hook_suffix }}{{/ doAction }}
{{# doAction }}admin_print_styles{{/ doAction }}
{{# doAction }}admin_print_scripts-{{ hook_suffix }}{{/ doAction }}
{{# doAction }}admin_print_scripts{{/ doAction }}
{{# doAction }}admin_head-{{ hook_suffix }}{{/ doAction }}
{{# doAction }}admin_head{{/ doAction }}
</head>
<body class="wp-admin wp-core-ui no-js{{ admin_body_classes }} {{ admin_body_class }}">
<script type="text/javascript">
document.body.className = document.body.className.replace('no-js','js');
</script>
{{{ customize_support }}}
<div id="wpwrap">
	<div id="adminmenumain" role="navigation" aria-label="{{ l10n.main_menu }}">
		<a href="#wpbody-content" class="screen-reader-shortcut">{{ l10n.skip_to_main_content }}</a>
		<a href="#wp-toolbar" class="screen-reader-shortcut">{{ l10n.skip_to_toolbar }}</a>
		<div id="adminmenuback"></div>
		<div id="adminmenuwrap">
			<ul id="adminmenu">
				{{{ menu }}}
				{{# doAction }}adminmenu{{/ doAction }}
			</ul>
		</div>
	</div>
	<div id="wpcontent">
		{{# doAction }}in_admin_header{{/ doAction }}
		<div id="wpbody" role="main">
			<div id="wpbody-content" aria-label="{{ l10n.main_content }}" tabindex="0">
				{{{ screen_meta }}}

				{{# is_network_admin }}
					{{# doAction }}network_admin_notices{{/ doAction }}
				{{/ is_network_admin }}
				{{^ is_network_admin }}
					{{# is_user_admin }}
						{{# doAction }}user_admin_notices{{/ doAction }}
					{{/ is_user_admin }}
					{{^ is_user_admin }}
						{{# doAction }}admin_notices{{/ doAction }}
					{{/ is_user_admin }}
				{{/ is_network_admin }}

				{{# doAction }}all_admin_notices{{/ doAction }}

				{{$ content }}... CONTENT GOES HERE ...{{/ content }}
				<div class="clear"></div>
			</div><!-- wpbody-content -->
			<div class="clear"></div>
		</div><!-- wpbody -->
		<div class="clear"></div>
	</div><!-- wpcontent -->
	<div id="wpfooter" role="contentinfo">
		{{# doAction }}in_admin_footer{{/ doAction }}
		<p id="footer-left" class="alignleft">{{{ admin_footer_text }}}</p>
		<p id="footer-upgrade" class="alignright">{{{ update_footer }}}</p>
		<div class="clear"></div>
	</div>
	{{# doAction }}admin_footer{{/ doAction }}
	{{# doAction }}admin_print_footer_scripts-{{ hook_suffix }}{{/ doAction }}
	{{# doAction }}admin_print_footer_scripts{{/ doAction }}
	{{# doAction }}admin_footer-{{ hook_suffix }}{{/ doAction }}

	{{{ compressionTest }}}
	<div class="clear"></div>
</div><!-- wpwrap -->
<script type="text/javascript">if(typeof wpOnload=='function')wpOnload();</script>
</body>
</html>
