<h2>{{{ l10n.congratulations }}}</h2>
<p>{{{ l10n.before_you_can_start }}}</p>
<p>{{{ l10n.check_your_inbox }}}</p>
<p>{{{ l10n.within_two_days }}}</p>

<h2>{{ l10n.still_waiting }}</h2>

<p>{{{ l10n.havent_received }}}</p>

<p>
    <ul id="noemail-tips">
        <li><p><strong>{{{ l10n.wait_a_little }}}</strong></p></li>
        <li><p>{{{ l10n.check_the_junk }}}</p></li>
        <li><p><strong>{{{ l10n.have_you_entered }}}</strong></p></li>
    </ul>
</p>
