{{=<% %>=}}
<li class="panel-meta customize-info accordion-section <# if ( ! data.description ) { #> cannot-expand<# } #>">
	<button class="customize-panel-back" tabindex="-1">
		<span class="screen-reader-text"><%={{ }}=%>{{ l10n.back }}{{=<% %>=}}</span>
	</button>
	<div class="accordion-section-title">
		<span class="preview-notice"><%={{ }}=%>{{{ preview_notice }}}{{=<% %>=}}</span>
		<# if ( data.description ) { #>
			<button class="customize-help-toggle dashicons dashicons-editor-help" tabindex="0" aria-expanded="false">
				<span class="screen-reader-text"><%={{ }}=%>{{ l10n.help }}{{=<% %>=}}</span>
			</button>
		<# } #>
	</div>
	<# if ( data.description ) { #>
		<div class="description customize-panel-description">
			{{{ data.description }}}
		</div>
	<# } #>
</li>
