{{=<% %>=}}
<li id="accordion-panel-{{ data.id }}" class="accordion-section control-section control-panel control-panel-{{ data.type }}">
	<h3 class="accordion-section-title" tabindex="0">
		{{ data.title }}
		<span class="screen-reader-text"><%={{ }}=%>{{ l10n.press_return }}{{=<% %>=}}</span>
	</h3>
	<ul class="accordion-sub-container control-panel-content"></ul>
</li>
